In [1]:
'''Mysql : 
    
    1. Create a  table attribute dataset and dress dataset
    2. Do a bulk load for these two table for respective dataset 
    3. read these dataset in pandas as a dataframe 
    4. Convert attribute dataset in json format 
    5. Store this dataset into mongodb
    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID
    7. Write a sql query to find out how many unique dress that we have based on dress id 
    8. Try to find out how mnay dress is having recommendation 0
    9. Try to find out total dress sell for individual dress id 
    10. Try to find out a third highest most selling dress id '''

'Mysql : \n    \n    1. Create a  table attribute dataset and dress dataset\n    2. Do a bulk load for these two table for respective dataset \n    3. read these dataset in pandas as a dataframe \n    4. Convert attribute dataset in json format \n    5. Store this dataset into mongodb\n    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID\n    7. Write a sql query to find out how many unique dress that we have based on dress id \n    8. Try to find out how mnay dress is having recommendation 0\n    9. Try to find out total dress sell for individual dress id \n    10. Try to find out a third highest most selling dress id '

In [2]:
import pandas as pd     #to load data into dataframe and for some data manupilations import pandas
import sqlalchemy       #this is the library that facilitates the comunication between python programs and databases
import pymysql          #this is an interface to connect mysql database server feom python

In [3]:
df_att = pd.read_csv(r"C:\Program Files\MySQL\MySQL Workbench 8.0\Attribute DataSet1.csv")  #reading dataset into dataframe

In [4]:
df_att.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [5]:
df_att.fillna("-",inplace=True)     #this will drop the null values and replace with " - "

In [6]:
df_att.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,-,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,-,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,-,-,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [7]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:12345@localhost:3306/ineuron')   #connection with msql from python

In [8]:
df_att.to_sql(con=engine,name='attribute_dataset',if_exists="append",index=False)     #inserting dataset to mysql_db from python

In [9]:
df_dress = pd.read_csv(r"C:\Users\Shivanand\Documents\Dress Sales_1.csv")    #another dataset to dataframe

In [10]:
df_dress.head()

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_dress.dropna(axis=1,inplace=True)    #this will drop all the useless null or blank columns

In [12]:
df_dress.head()

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,28/9/2013,10-06-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3706,3897,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,3258,3911,4277
2,1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1914,1952,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2252,2544,2736

In [13]:
df_dress.fillna("-",inplace=True)

In [14]:
df_dress.head(10)

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,28/9/2013,10-06-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3706,3897,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,3258,3911,4277
2,1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1914,1952,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2252,2544,2736
5,1068332458,4,5,11,13,13,13,16,18,19,20,20,21,22,25,26,27,27
6,1220707172,45,61,131,165,176,209,216,251,262,289,295,325,353,379,417,474,552
7,1219677488,4,13,55,73,76,89,94,117,121,125,135,142,150,160,169,224,263
8,1113094204,5,6,10,12,13,15,16,17,17,19,21,25,27,27,29,29,33
9,985292672,9,11,12,12,12,12,12,13,13,13,13,14,14,14,14,14,14

In [15]:
df_dress.tail()

,Dress_ID,29/8/2013,31/8/2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14/9/2013,16/9/2013,18/9/2013,20/9/2013,22/9/2013,24/9/2013,28/9/2013,10-06-2013,10-12-2013
495,713391965,0,0,0,560,554,544,537,525,519,511,501,492,480,400,360,380,285
496,722565148,0,0,0,875,866,861,854,850,844,841,845,851,864,859,882,906,931
497,532874347,0,0,0,734,728,726,715,694,690,686,674,665,658,616,586,551,520
498,655464934,0,0,0,254,259,261,263,268,270,272,272,264,264,257,255,249,248
499,919930954,0,0,0,538,545,558,563,578,585,590,599,605,619,628,639,660,680

In [16]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:12345@localhost:3306/ineuron')   #connection with mysql from python

In [17]:
df_dress.to_sql(con=engine,name='dress_dataset',if_exists="append",index=False)   #inserting dataset to mysql_db from python

In [18]:
#converting attribute_dataset to json format
df = pd.read_csv(r"C:\Program Files\MySQL\MySQL Workbench 8.0\Attribute DataSet1.csv")

In [49]:
json_data = df.to_dict(orient = "records")

In [22]:
import pymongo

In [58]:
client = pymongo.MongoClient("mongodb+srv://Aadisheshu_Bairy:Ineuron.ai@cluster0.ua6zshk.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [59]:
database=client['myinfo']
collection=database["aadi"]
collection.insert_many(json_data)

In [3]:
import mysql.connector as connection

mydb=connection.connect(host="localhost",user="root",passwd="12345")

cursor=mydb.cursor()

In [4]:
cursor.execute("use ineuron")

In [5]:
cursor.execute("select attribute_dataset.Dress_ID from attribute_dataset left join dress_dataset on attribute_dataset.Dress_ID = dress_dataset.Dress_ID")
cursor.fetchall()

[(1006032852,),
 (1006032852,),
 (1006032852,),
 (1006032852,),
 (1212192089,),
 (1212192089,),
 (1212192089,),
 (1212192089,),
 (1190380701,),
 (1190380701,),
 (1190380701,),
 (1190380701,),
 (966005983,),
 (966005983,),
 (966005983,),
 (966005983,),
 (876339541,),
 (876339541,),
 (876339541,),
 (876339541,),
 (1068332458,),
 (1068332458,),
 (1068332458,),
 (1068332458,),
 (1220707172,),
 (1220707172,),
 (1220707172,),
 (1220707172,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1219677488,),
 (1113094204,),
 (1113094204,),
 (1113094204,),
 (1113094204,),
 (985292672,),
 (985292672,),
 (985292672,),
 (985292672,),
 (1117293701,),
 (1117293701,),
 (1117293701,),
 (1117293701,),
 (898481530,),
 (898481530,),
 (898481530,),
 (898481530,),
 (957723897,),
 (957723897,),
 (957723897,),
 (957723897,),
 (749031896,),
 (749031896,),
 (749031896,),
 (749031896,),
 (1055411544,),
 (1055411544,),
 (1055411544,),
 (1055411544,),
 (1162628131,),
 (1162628131,),
 (1162628131,),
 (1162628131,),
 (624314841,),
 (624314841,),
 (624314841,),
 (624314841,),
 (830467746,),
 (830467746,),
 (830467746,),
 (830467746,),
 (840857118,),
 (840857118,),
 (840857118,),
 (840857118,),
 (1113221101,),
 (1113221101,),
 (1113221101,),
 (1113221101,),
 (861754372,),
 (861754372,),
 (861754372,),
 (861754372,),
 (856178100,),
 (856178100,),
 (856178100,),
 (856178100,),
 (1122989777,),
 (1122989777,),
 (1122989777,),
 (1122989777,),
 (840516484,),
 (840516484,),
 (840516484,),
 (840516484,),
 (768517084,),
 (768517084,),
 (768517084,),
 (768517084,),
 (1139843344,),
 (1139843344,),
 (1139843344,),
 (1139843344,),
 (1004212992,),
 (1004212992,),
 (1004212992,),
 (1004212992,),
 (1235426503,),
 (1235426503,),
 (1235426503,),
 (1235426503,),
 (942808364,),
 (942808364,),
 (942808364,),
 (942808364,),
 (629131530,),
 (629131530,),
 (629131530,),
 (629131530,),
 (851945460,),
 (851945460,),
 (851945460,),
 (851945460,),
 (1150275464,),
 (1150275464,),
 (1150275464,),
 (1150275464,),
 (1026634314,),
 (1026634314,),
 (1026634314,),
 (1026634314,),
 (978773911,),
 (978773911,),
 (978773911,),
 (978773911,),
 (827791337,),
 (827791337,),
 (827791337,),
 (827791337,),
 (640823350,),
 (640823350,),
 (640823350,),
 (640823350,),
 (801861988,),
 (801861988,),
 (801861988,),
 (801861988,),
 (1060207186,),
 (1060207186,),
 (1060207186,),
 (1060207186,),
 (1054679816,),
 (1054679816,),
 (1054679816,),
 (1054679816,),
 (941190190,),
 (941190190,),
 (941190190,),
 (941190190,),
 (943844640,),
 (943844640,),
 (943844640,),
 (943844640,),
 (661795386,),
 (661795386,),
 (661795386,),
 (661795386,),
 (875312593,),
 (875312593,),
 (875312593,),
 (875312593,),
 (971387676,),
 (971387676,),
 (971387676,),
 (971387676,),
 (1021185637,),
 (1021185637,),
 (1021185637,),
 (1021185637,),
 (1163826114,),
 (1163826114,),
 (1163826114,),
 (1163826114,),
 (735635595,),
 (735635595,),
 (735635595,),
 (735635595,),
 (1175184188,),
 (1175184188,),
 (1175184188,),
 (1175184188,),
 (679415939,),
 (679415939,),
 (679415939,),
 (679415939,),
 (884147971,),
 (884147971,),
 (884147971,),
 (884147971,),
 (841203385,),
 (841203385,),
 (841203385,),
 (841203385,),
 (841203385,),
 (841203385,),
 (841203385,),
 (841203385,),
 (1117997056,),
 (1117997056,),
 (1117997056,),
 (1117997056,),
 (1160536550,),
 (1160536550,),
 (1160536550,),
 (1160536550,),
 (828623528,),
 (828623528,),
 (828623528,),
 (828623528,),
 (763708514,),
 (763708514,),
 (763708514,),
 (763708514,),
 (1153442065,),
 (1153442065,),
 (1153442065,),
 (1153442065,),
 (743729613,),
 (743729613,),
 (743729613,),
 (743729613,),
 (1000493051,),
 (1000493051,),
 (1000493051,),
 (1000493051,),
 (911085061,),
 (911085061,),
 (911085061,),
 (911085061,),
 (1174854264,),
 (1174854264,),
 (1174854264,),
 (1174854264,),
 (1053296757,),
 (1053296757,),
 (1053296757,),
 (1053296757,),
 (1033843327,),
 (1033843327,),
 (1033843327,),
 (1033843327,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (1083779666,),
 (746255172,),
 (746255172,),
 (746255172,),
 (746255172,),
 (1100974555,),
 (1100974555,),
 (1100974555,),
 (1100974555,),
 (1019134411,),
 (1019134411,),
 (1019134411,),
 (1019134411,),
 (1072477320,),
 (1072477320,),
 (1072477320,),
 (1072477320,),
 (638423913,),
 (638423913,),
 (638423913,),
 (638423913,),
 (936425780,),
 (936425780,),
 (936425780,),
 (936425780,),
 (1146088956,),
 (1146088956,),
 (1146088956,),
 (1146088956,),
 (864253055,),
 (864253055,),
 (864253055,),
 (864253055,),
 (1210582154,),
 (1210582154,),
 (1210582154,),
 (1210582154,),
 (926480831,),
 (926480831,),
 (926480831,),
 (926480831,),
 (757260823,),
 (757260823,),
 (757260823,),
 (757260823,),
 (630561922,),
 (630561922,),
 (630561922,),
 (630561922,),
 (734061929,),
 (734061929,),
 (734061929,),
 (734061929,),
 (842060995,),
 (842060995,),
 (842060995,),
 (842060995,),
 (1078431253,),
 (1078431253,),
 (1078431253,),
 (1078431253,),
 (939770391,),
 (939770391,),
 (939770391,),
 (939770391,),
 (943188872,),
 (943188872,),
 (943188872,),
 (943188872,),
 (1130994272,),
 (1130994272,),
 (1130994272,),
 (1130994272,),
 (907117649,),
 (907117649,),
 (907117649,),
 (907117649,),
 (967999477,),
 (967999477,),
 (967999477,),
 (967999477,),
 (944656411,),
 (944656411,),
 (944656411,),
 (944656411,),
 (1096779299,),
 (1096779299,),
 (1096779299,),
 (1096779299,),
 (1036333255,),
 (1036333255,),
 (1036333255,),
 (1036333255,),
 (1065316076,),
 (1065316076,),
 (1065316076,),
 (1065316076,),
 (995802744,),
 (995802744,),
 (995802744,),
 (995802744,),
 (1018110870,),
 (1018110870,),
 (1018110870,),
 (1018110870,),
 (850586379,),
 (850586379,),
 (850586379,),
 (850586379,),
 (1169895668,),
 (1169895668,),
 (1169895668,),
 (1169895668,),
 (688966772,),
 (688966772,),
 (688966772,),
 (688966772,),
 (1194626925,),
 (1194626925,),
 (1194626925,),
 (1194626925,),
 (876708804,),
 (876708804,),
 (876708804,),
 (876708804,),
 (876708804,),
 (876708804,),
 (876708804,),
 (876708804,),
 (1118628066,),
 (1118628066,),
 (1118628066,),
 (1118628066,),
 (1027818824,),
 (1027818824,),
 (1027818824,),
 (1027818824,),
 (891103323,),
 (891103323,),
 (891103323,),
 (891103323,),
 (1166855026,),
 (1166855026,),
 (1166855026,),
 (1166855026,),
 (1023850025,),
 (1023850025,),
 (1023850025,),
 (1023850025,),
 (805438829,),
 (805438829,),
 (805438829,),
 (805438829,),
 (836788720,),
 (836788720,),
 (836788720,),
 (836788720,),
 (835787654,),
 (835787654,),
 (835787654,),
 (835787654,),
 (1148457078,),
 (1148457078,),
 (1148457078,),
 (1148457078,),
 (887476609,),
 (887476609,),
 (887476609,),
 (887476609,),
 (535968075,),
 (535968075,),
 (535968075,),
 (535968075,),
 (892801580,),
 (892801580,),
 (892801580,),
 (892801580,),
 (732650169,),
 (732650169,),
 (732650169,),
 (732650169,),
 (680070369,),
 (680070369,),
 (680070369,),
 (680070369,),
 (1002440915,),
 (1002440915,),
 (1002440915,),
 (1002440915,),
 (737538048,),
 (737538048,),
 (737538048,),
 (737538048,),
 (1104450248,),
 (1104450248,),
 (1104450248,),
 (1104450248,),
 (797673346,),
 (797673346,),
 (797673346,),
 (797673346,),
 (1039982741,),
 (1039982741,),
 (1039982741,),
 (1039982741,),
 (829087315,),
 (829087315,),
 (829087315,),
 (829087315,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (1032990258,),
 (939422280,),
 (939422280,),
 (939422280,),
 (939422280,),
 (974746803,),
 (974746803,),
 (974746803,),
 (974746803,),
 (1018130478,),
 (1018130478,),
 (1018130478,),
 (1018130478,),
 (956758119,),
 (956758119,),
 (956758119,),
 (956758119,),
 (903426442,),
 (903426442,),
 (903426442,),
 (903426442,),
 (861626197,),
 (861626197,),
 (861626197,),
 (861626197,),
 (1077015977,),
 (1077015977,),
 (1077015977,),
 (1077015977,),
 (817870237,),
 (817870237,),
 (817870237,),
 (817870237,),
 (1078996836,),
 (1078996836,),
 (1078996836,),
 (1078996836,),
 (881530990,),
 (881530990,),
 (881530990,),
 (881530990,),
 (937046375,),
 (937046375,),
 (937046375,),
 (937046375,),
 (870994067,),
 (870994067,),
 (870994067,),
 (870994067,),
 (870994067,),
 (870994067,),
 (870994067,),
 (870994067,),
 (893330898,),
 (893330898,),
 (893330898,),
 (893330898,),
 (822053936,),
 (822053936,),
 (822053936,),
 (822053936,),
 (1059959935,),
 (1059959935,),
 (1059959935,),
 (1059959935,),
 (1197204708,),
 (1197204708,),
 (1197204708,),
 (1197204708,),
 (713439584,),
 (713439584,),
 (713439584,),
 (713439584,),
 (732736124,),
 (732736124,),
 (732736124,),
 (732736124,),
 (709353440,),
 (709353440,),
 (709353440,),
 (709353440,),
 (709353440,),
 (709353440,),
 (709353440,),
 (709353440,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1031230798,),
 (1225512606,),
 (1225512606,),
 (1225512606,),
 (1225512606,),
 (1158347154,),
 (1158347154,),
 (1158347154,),
 (1158347154,),
 (976975672,),
 (976975672,),
 (976975672,),
 (976975672,),
 (976975672,),
 (976975672,),
 (976975672,),
 (976975672,),
 (520233308,),
 (520233308,),
 (520233308,),
 (520233308,),
 (935827969,),
 (935827969,),
 (935827969,),
 (935827969,),
 (1130624045,),
 (1130624045,),
 (1130624045,),
 (1130624045,),
 (547555172,),
 (547555172,),
 (547555172,),
 (547555172,),
 (1083323104,),
 (1083323104,),
 (1083323104,),
 (1083323104,),
 (955188745,),
 (955188745,),
 (955188745,),
 (955188745,),
 (1140306858,),
 (1140306858,),
 (1140306858,),
 (1140306858,),
 (895807023,),
 (895807023,),
 (895807023,),
 (895807023,),
 (818505402,),
 (818505402,),
 (818505402,),
 (818505402,),
 (897981100,),
 (897981100,),
 (897981100,),
 (897981100,),
 (973481686,),
 (973481686,),
 (973481686,),
 (973481686,),
 (1021375534,),
 (1021375534,),
 (1021375534,),
 (1021375534,),
 (549437715,),
 (549437715,),
 (549437715,),
 (549437715,),
 (1097548715,),
 (1097548715,),
 (1097548715,),
 (1097548715,),
 (578702321,),
 (578702321,),
 (578702321,),
 (578702321,),
 (1155548915,),
 (1155548915,),
 (1155548915,),
 (1155548915,),
 (1199064757,),
 (1199064757,),
 (1199064757,),
 (1199064757,),
 (1078994436,),
 (1078994436,),
 (1078994436,),
 (1078994436,),
 (949226757,),
 (949226757,),
 (949226757,),
 (949226757,),
 (832191944,),
 (832191944,),
 (832191944,),
 (832191944,),
 (869572905,),
 (869572905,),
 (869572905,),
 (869572905,),
 (896048351,),
 (896048351,),
 (896048351,),
 (896048351,),
 (896048351,),
 (896048351,),
 (896048351,),
 (896048351,),
 (854444464,),
 (854444464,),
 (854444464,),
 (854444464,),
 (1246749980,),
 (1246749980,),
 (1246749980,),
 (1246749980,),
 (849613634,),
 (849613634,),
 (849613634,),
 (849613634,),
 (1019768234,),
 (1019768234,),
 (1019768234,),
 (1019768234,),
 (785830491,),
 (785830491,),
 (785830491,),
 (785830491,),
 (832391864,),
 (832391864,),
 (832391864,),
 (832391864,),
 (1069595866,),
 (1069595866,),
 (1069595866,),
 (1069595866,),
 (733715437,),
 (733715437,),
 (733715437,),
 (733715437,),
 (733715437,),
 (733715437,),
 (733715437,),
 (733715437,),
 (828949946,),
 (828949946,),
 (828949946,),
 (828949946,),
 (765264430,),
 (765264430,),
 (765264430,),
 (765264430,),
 (722020708,),
 (722020708,),
 (722020708,),
 (722020708,),
 (980295760,),
 (980295760,),
 (980295760,),
 (980295760,),
 (913978120,),
 (913978120,),
 (913978120,),
 (913978120,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1062354779,),
 (1051749304,),
 (1051749304,),
 (1051749304,),
 (1051749304,),
 (1206128856,),
 (1206128856,),
 (1206128856,),
 (1206128856,),
 (956453735,),
 (956453735,),
 (956453735,),
 (956453735,),
 (767971724,),
 (767971724,),
 (767971724,),
 (767971724,),
 (722565148,),
 (722565148,),
 (722565148,),
 (722565148,),
 (722565148,),
 (722565148,),
 (722565148,),
 (722565148,),
 (1167448608,),
 (1167448608,),
 (1167448608,),
 (1167448608,),
 (549159213,),
 (549159213,),
 (549159213,),
 (549159213,),
 (549159213,),
 (549159213,),
 (549159213,),
 (549159213,),
 (940918554,),
 (940918554,),
 (940918554,),
 (940918554,),
 (522776523,),
 (522776523,),
 (522776523,),
 (522776523,),
 (658650071,),
 (658650071,),
 (658650071,),
 (658650071,),
 (560474456,),
 (560474456,),
 (560474456,),
 (560474456,),
 (560474456,),
 (560474456,),
 (560474456,),
 (560474456,),
 (1150052066,),
 (1150052066,),
 (1150052066,),
 (1150052066,),
 (929797706,),
 (929797706,),
 (929797706,),
 (929797706,),
 (886351969,),
 (886351969,),
 (886351969,),
 (886351969,),
 (1071947910,),
 (1071947910,),
 (1071947910,),
 (1071947910,),
 (813753347,),
 (813753347,),
 (813753347,),
 (813753347,),
 (733134203,),
 (733134203,),
 (733134203,),
 (733134203,),
 (733134203,),
 (733134203,),
 (733134203,),
 (733134203,),
 (851256794,),
 (851256794,),
 (851256794,),
 (851256794,),
 (751049573,),
 (751049573,),
 (751049573,),
 (751049573,),
 (882490248,),
 (882490248,),
 (882490248,),
 (882490248,),
 (541172235,),
 (541172235,),
 (541172235,),
 (541172235,),
 (727676110,),
 (727676110,),
 (727676110,),
 (727676110,),
 (727676110,),
 (727676110,),
 (727676110,),
 (727676110,),
 (891631697,),
 (891631697,),
 (891631697,),
 (891631697,),
 (1059306768,),
 (1059306768,),
 (1059306768,),
 (1059306768,),
 (764321904,),
 (764321904,),
 (764321904,),
 (764321904,),
 (902108125,),
 (902108125,),
 (902108125,),
 (902108125,),
 (874397327,),
 (874397327,),
 (874397327,),
 (874397327,),
 (861698160,),
 (861698160,),
 (861698160,),
 (861698160,),
 (981437831,),
 (981437831,),
 (981437831,),
 (981437831,),
 (1036456647,),
 (1036456647,),
 (1036456647,),
 (1036456647,),
 (951280194,),
 (951280194,),
 (951280194,),
 (951280194,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (1079373429,),
 (747381880,),
 (747381880,),
 (747381880,),
 (747381880,),
 (1099363892,),
 (1099363892,),
 (1099363892,),
 (1099363892,),
 (941333009,),
 (941333009,),
 (941333009,),
 (941333009,),
 (819651586,),
 (819651586,),
 (819651586,),
 (819651586,),
 (1043590098,),
 (1043590098,),
 (1043590098,),
 (1043590098,),
 (1091666465,),
 (1091666465,),
 (1091666465,),
 (1091666465,),
 (863336720,),
 (863336720,),
 (863336720,),
 (863336720,),
 (863336720,),
 (863336720,),
 (863336720,),
 (863336720,),
 (771972560,),
 (771972560,),
 (771972560,),
 (771972560,),
 (756492184,),
 (756492184,),
 (756492184,),
 (756492184,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (1097157656,),
 (573923366,),
 (573923366,),
 (573923366,),
 (573923366,),
 (756620535,),
 (756620535,),
 (756620535,),
 (756620535,),
 (765350508,),
 (765350508,),
 (765350508,),
 (765350508,),
 (968294356,),
 (968294356,),
 (968294356,),
 (968294356,),
 (1017678811,),
 (1017678811,),
 (1017678811,),
 (1017678811,),
 (933231033,),
 (933231033,),
 (933231033,),
 (933231033,),
 (933231033,),
 (933231033,),
 (933231033,),
 (933231033,),
 (1199765487,),
 (1199765487,),
 (1199765487,),
 (1199765487,),
 (965817793,),
 (965817793,),
 (965817793,),
 (965817793,),
 (1074432879,),
 (1074432879,),
 (1074432879,),
 (1074432879,),
 (1132858821,),
 (1132858821,),
 (1132858821,),
 (1132858821,),
 (905732124,),
 (905732124,),
 (905732124,),
 (905732124,),
 (905732124,),
 (905732124,),
 (905732124,),
 (905732124,),
 (711045472,),
 (711045472,),
 (711045472,),
 (711045472,),
 ...]

In [6]:
cursor.execute("select distinct Style from attribute_dataset")
cursor.fetchall()

[('Sexy',),
 ('Casual',),
 ('vintage',),
 ('Brief',),
 ('cute',),
 ('bohemian',),
 ('Novelty',),
 ('Flare',),
 ('party',),
 ('work',),
 ('OL',),
 ('fashion',)]

In [7]:
cursor.execute("select distinct FabricType from attribute_dataset")
cursor.fetchall()

[('chiffon',),
 ('-',),
 ('broadcloth',),
 ('jersey',),
 ('other',),
 ('batik',),
 ('satin',),
 ('flannael',),
 ('worsted',),
 ('woolen',),
 ('poplin',),
 ('dobby',),
 ('knitting',),
 ('flannel',),
 ('tulle',),
 ('sattin',),
 ('organza',),
 ('lace',),
 ('Corduroy',),
 ('wollen',),
 ('knitted',),
 ('shiffon',),
 ('terry',)]

In [8]:
cursor.execute("select distinct Material from attribute_dataset")
cursor.fetchall()

[('-',),
 ('microfiber',),
 ('polyster',),
 ('silk',),
 ('chiffonfabric',),
 ('cotton',),
 ('nylon',),
 ('other',),
 ('milksilk',),
 ('linen',),
 ('rayon',),
 ('lycra',),
 ('mix',),
 ('acrylic',),
 ('spandex',),
 ('lace',),
 ('modal',),
 ('cashmere',),
 ('viscos',),
 ('knitting',),
 ('sill',),
 ('wool',),
 ('model',),
 ('shiffon',)]

In [9]:
cursor.execute("select distinct SleeveLength from attribute_dataset")
cursor.fetchall()

[('sleevless',),
 ('Petal',),
 ('full',),
 ('butterfly',),
 ('short',),
 ('threequarter',),
 ('halfsleeve',),
 ('cap-sleeves',),
 ('turndowncollor',),
 ('threequater',),
 ('capsleeves',),
 ('sleeveless',),
 ('sleeevless',),
 ('half',),
 ('urndowncollor',),
 ('thressqatar',),
 ('-',),
 ('sleveless',)]

In [10]:
cursor.execute("select distinct NeckLine from attribute_dataset")
cursor.fetchall()

[('o-neck',),
 ('v-neck',),
 ('boat-neck',),
 ('peterpan-collor',),
 ('ruffled',),
 ('turndowncollor',),
 ('slash-neck',),
 ('mandarin-collor',),
 ('open',),
 ('sqare-collor',),
 ('Sweetheart',),
 ('-',),
 ('Scoop',),
 ('halter',),
 ('backless',),
 ('bowneck',)]

In [11]:
cursor.execute("select distinct Season from attribute_dataset")
cursor.fetchall()

[('Summer',), ('Automn',), ('Spring',), ('Winter',), ('-',), ('Autumn',)]

In [12]:
cursor.execute("select distinct Size from attribute_dataset")
cursor.fetchall()

[('M',), ('L',), ('XL',), ('free',), ('S',), ('small',)]

In [13]:
cursor.execute("select distinct Rating from attribute_dataset")
cursor.fetchall()

[(4.6,),
 (0.0,),
 (4.5,),
 (5.0,),
 (4.7,),
 (4.8,),
 (4.3,),
 (4.0,),
 (4.4,),
 (4.9,),
 (4.2,),
 (3.6,),
 (3.7,),
 (4.1,),
 (3.5,),
 (1.0,),
 (3.0,)]

In [14]:
cursor.execute("select distinct Price from attribute_dataset")
cursor.fetchall()

[('Low',), ('High',), ('Average',), ('Medium',), ('very-high',), ('-',)]

In [15]:
cursor.execute("select count(*) from attribute_dataset where Recommendation=0")
cursor.fetchall()

[(1160,)]

In [24]:
cursor.execute("select count(Dress_ID) from attribute_dataset")
cursor.fetchall()

[(2000,)]

In [17]:
cursor.execute("select count(Dress_ID) as sold_count from dress_dataset group by Dress_ID order by Dress_ID")
cursor.fetchall()

[(4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (8,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (8,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,)]