ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon       (Q1)

In [1]:
for i in range(5):
    for j in range(0,i):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
n=4
k=n
for i in range(n):
    k=k-1
    print('   '*k, end=' ')
    for j in range(i+1):
        print('ineuron', end=' ')
    for j in range(n):
        print('   '*k, end=' ')
    print()

          ineuron
       ineuron ineuron
    ineuron ineuron ineuron
 ineuron ineuron ineuron ineuron

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) ,
     (3,4,5,6,7) ,set([23,4,5,45,4,4,5,45,45,4,5]) , 
     {'k1' :"sudh" , "k2" : "ineuron","k3":
    "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity

In [4]:
l4=[]
for i in l:
    if type(i)==list:
        l4.append(i)
print(l4)

[[1, 2, 3, 4], ['ineuron', 'data science ']]

# q4 : Try to extract all the dict enteties

In [5]:
d=[]
for i in l:
    if type(i)==dict:
        d.append(i)
print(d)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

# q5 : Try to extract all the tuples entities

In [6]:
t=[]
for i in l:
    if type(i)==tuple:
        t.append(i)
print(t)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

# q6 : Try to extract all the numerical data it may b a part of dict key and values

In [7]:
l1=[]
numeric=[]
d=l[4]

for i in l:
    if type(i)==list or type(i)==tuple:
        l1.append(list(i))
    for j in i:
        if type(j)==int:
            numeric.append(j)
        for k in d.values():
            if type(i)==int:
                numeric.append(i)
            for m in d.keys():
                if type(i)==int:
                    numeric.append(j)
print("The numerical data extracted from given data : ",numeric)

The numerical data extracted from given data :  [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7]

# q7 : Try to give summation of all the numeric data

In [8]:
#from the above code we have extracted all the numeric data from the given list
sum(numeric)

142

# q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [9]:
odd=[]
even=[]
for num in numeric:
      
    # checking condition
    if num % 2 != 0:
       odd.append(num)
    else:
        even.append(num)
print("The odd values from the numeric data :",odd)
print("The even values from the numeric data :",even)

The odd values from the numeric data : [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]
The even values from the numeric data : [2, 4, 2, 4, 6, 4, 6, 4]

# q9 : Try to extract "ineruon" out of this data

In [10]:
for i in d.values():
    if i =="ineuron":
        print(i)
print(l1[3][0])

ineuron
ineuron

# q10 :Try to find out a number of occurances of all the data

In [17]:
d5={}
for i in all:
    if i not in d5:
        d5[i]=all.count(i)
print(d5)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 2, 7: 2, 45: 1, 23: 1, 'sudh': 1, 'ineuron': 2, 'kumar': 1, 'data science ': 1}

# q11 : Try to find out number of keys in dict element

In [13]:
d1=l[4]
d2=d1.keys()
print(d2)
print(len(d2))

dict_keys(['k1', 'k2', 'k3', 3, 7])
5

# q12 : Try to filter out all the string data

In [14]:
s=[]
d3=l[4]
for i in d3.values():
    if type(i)==str:
        s.append(i)
s.extend(l[5])
print(s)

['sudh', 'ineuron', 'kumar', 'ineuron', 'data science ']

# q13 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [15]:
for i in numeric:
    print(i*i,end=' ')

1 4 9 16 4 9 16 25 36 9 16 25 36 49 2025 16 25 529 9 49

# q14 : Try to unwrape all the collection inside collection and create a flat list

In [16]:
all=[]
all.extend(numeric)
all.extend(s)
print(all)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 'sudh', 'ineuron', 'kumar', 'ineuron', 'data science ']

                                                  # THANK YOU